
// University of Michigan brand colors
$mi-maize: #FFCB05 !default;
$mi-blue: #00274C !default;
$mi-arboretum-blue: #2F65A7 !default;

// color overrides
$link-color: $mi-arboretum-blue;
$btn-primary-color: $mi-arboretum-blue;
