<div id="kaltura_player_wrapper" style="max-width:0px; display: hidden;">
    <div style="position:relative;padding-bottom:66.118421052632%">
        <iframe 
            id="kaltura_player" 
            src="" 
            width="0" 
            height="0" 
            allowfullscreen 
            webkitallowfullscreen 
            mozAllowFullScreen 
            allow="autoplay *; fullscreen *; encrypted-media *" 
            sandbox="allow-downloads allow-forms allow-same-origin allow-scripts allow-top-navigation allow-pointer-lock allow-popups allow-modals allow-orientation-lock allow-popups-to-escape-sandbox allow-presentation allow-top-navigation-by-user-activation" 
            frameborder="0" 
            title="" 
            style="position:absolute;top:0;left:0;width:100%;height:100%;border:0"
            >
        </iframe>
    </div>
</div>
