{% assign image_url = "/assets/images/thumbnails/" | append: include.thumbnail | relative_url %}
<div style="width: 30%; display: inline-block; padding: 0 0.5em;">
    <a 
        href="javascript:void(0);" 
        onclick="var el = document.getElementById('kaltura_player_wrapper'); el.style.maxWidth = '{{ include.width }}px'; el.style.display = 'block'; el = document.getElementById('kaltura_player'); el.width = {{ include.width }}; el.height = {{ include.height }}; el.src = '{{ include.src }}';"
    >
        <img src="{{ image_url }}" width="100%" height="200" style="object-fit: cover;">
    </a>
    <p style="margin: 0 0.5em; font-size: 0.9em;" >{{ include.caption }}</p>
</div>
